@import url('https://fonts.googleapis.com/css?family=Montserrat');


body { 
    margin: 0;
    background-image: url("foto_div.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.title {
  margin-left: 33vw;
  margin-top: 100px;  
  font-size: 15px;
  font-family: sans-serif;
  color: white;  
}

.title h1 {
    padding-left: 6px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
}

.title h1 span {
    text-decoration: line-through;
}

.title h2 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 6px;
    font-size: 18px;
}

.galleryItem {
	color: #797478;
	font: 10px/1.5 Verdana, Helvetica, sans-serif;
    
}

.galleryItem h3 {
	text-transform: uppercase;
}
 
.galleryItem img {
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.menu {
    padding: 64px 0 0 0;
    text-align: left;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.menu button {
    height: auto;
    width: 40px;
    background-color: transparent;
    color: #2624b2;
    border: none;
    outline: none;
}

.menu button:hover {
    color: white;
}

container {
    position:relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }

.content {
z-index: 9999;
position: relative;
    height: 100vh;
 }

.social {
    display: flex;
    max-width: 360px;
    justify-content: space-between;
    margin-left: 124px;
    margin-top: 200px;
}

a.social-link {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}

.retarngle_blue { 
  margin: 0;
  top: 0;
  left: 33vw;
  position: absolute;
  width: 80px; 
  height: 100vh; 
  background: #2624b2;
  z-index: 0;
}

.scroll_down {
    
    color: white;
    width: 200px;
    z-index: 999999999;
    color: white;
    text-decoration: none;
}

.portfolio {
    margin: 0 auto;
    display: flex;
    max-width: 960px;
    justify-content: space-around;
    padding-top: 64px;
    background-color: pink!important;
}

#gallery {
    
}

.blue-rec-small {
    width: 100px;
    height: 2px;
    background-color: #2624b2;
    float: right;
    margin-top: 9px;
}

.rotate {
    position: relative;
    top: 50vh;
    left: 88vw;
    width: 230px;
   -webkit-transform:  translateY(-100%) rotate(90deg);
  -moz-transform:     translateY(-100%) rotate(90deg);
  -ms-transform:      translateY(-100%) rotate(90deg);
  transform:          translateY(-100%) rotate(90deg);

}
